// colors
$color-bg-primary: #232833;
$color-bg-secondary: white;
$color-font-bright: white;
$color-font-dark: grey;
$color-btn-border: white;
$color-contrast: #00938c;

//fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'PT Serif', serif;