/*media queries*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00938c;
  font-family: "Montserrat", sans-serif;
}

.logo {
  display: inline-flex;
  margin-left: 1rem;
}

header .logo a > img {
  height: 50px;
  width: auto;
}

#main-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu li {
  margin: 0 1rem;
  padding: 0.9rem;
}

#main-menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
}

#main-menu ul li:hover {
  background-color: #00605b;
}

footer p {
  text-align: left;
  color: grey;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 1rem;
  margin-top: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  margin: 0; /*to get rid of default border*/
  padding: 0;
}

/* grid container */
.container {
  display: grid;
  grid-template-columns: 1fr; /* one column */
  grid-template-rows: repeat(3, auto); /* four rows with height based on content */
}

.section1 {
  grid-row: 1;
  background-color: #232833;
  color: white;
  padding-left: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-height: 630px;
}

.section2 {
  grid-row: 2;
  background-image: linear-gradient(180deg, #232833, white); /* dark to light gradient */
  padding: 2rem 1rem;
}

.section3 {
  grid-row: 3;
  background-color: white;
}

/* CTA and banner */
.top-banner {
  grid-area: 1/2/4/2;
}

img.banner {
  width: 100%;
  height: auto;
}

.top-heading {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top-heading h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

.top-heading p {
  font-family: "PT Serif", serif;
  font-size: 1rem;
}

.cta-group {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.cta-group p {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  line-height: 1.5;
}

.button-main {
  display: inline-block;
  background-color: #00938c;
  padding: 0.5rem 3rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.button-main:hover {
  background-color: #00605b;
}

/* social media sub-section */
.social-media {
  grid-area: 3/1/4/2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.social-media p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
}

/* social media buttons */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  color: #00938c;
  text-decoration: none;
}

.button i {
  font-size: 2rem;
}

/* carousel */
.carousel {
  display: block;
  padding: 200px;
}

.section2 h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

hr {
  border: 1px solid #00938c;
}

.portfolio-cta {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contact form */
#contact-form {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

input[type=text], input[type=email], textarea { /*input types where assigned because we need to style button differently from them in whole contact form*/
  color: white; /*applies only for the text which is typed in, but not the placeholder text*/
  background-color: #00938c;
  border: none;
  font-size: 1rem;
  margin: 1rem;
  padding-left: 1rem;
  font-family: "Montserrat", sans-serif;
}

input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, textarea::-moz-placeholder { /*pseudoclass is assigned for a placeholder*/
  color: white;
  font-weight: 200;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

input[type=text]::placeholder, input[type=email]::placeholder, textarea::placeholder { /*pseudoclass is assigned for a placeholder*/
  color: white;
  font-weight: 200;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

input[type=text], input[type=email] {
  width: 49%; /*so 2 elements can fill the whole page width but will not overlap*/
  height: 56px;
}

textarea {
  height: 200px;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

.form-row {
  display: flex;
}

input[type=submit] {
  background-color: #00938c;
  padding: 0.5rem 3rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  border-style: none;
  margin: 1.2rem auto;
}

input[type=submit]:hover {
  background-color: #00605b;
}

.placeholder-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
}/*# sourceMappingURL=styles.css.map */